@font-face{
	font-family:"mati-slab";
    src: url('fonts/mati-slab.otf');
}
@font-face{
	font-family:"handwritten";
    src: url('fonts/SqueakyChalkSound.ttf');
}
@font-face{
	font-family:"brushed";
    src: url('fonts/high performance.otf');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "mati-slab";
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#firstPage{
	background-image: url("images/life1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

.logo{
	float: left;
	color: #e6800b;
	font-size: 33px;
	margin: 0 0 0 5px;
	opacity: 0;
}

#navbar{
	z-index: 1;
	position: fixed;
  	width: 100%;
}
#navbar ul{
	float: right;
}
#navbar ul li{
	display: inline-block;
	margin-top: 6px;
	color: #000000;
}

.navItem{
	font-size: 21px;
	padding: 0 10px 5px 10px;
	text-decoration: none;
	color: #ffffff;
	line-height: 22px;
}
.navItem:hover{
	font-size: 22px;
	color: #d6770b;
	border-bottom: 2px solid #d6770b;
	transition-duration: 0.2s;
}
.fpage{
	position:relative;
	left: 10%;
	top: 22%;
}
#fpage-logo{
	/*position: fixed;*/
	color: #ededed;
	font-family: "brushed";
	margin-left: 6%;
	font-size: 55px;
}
.fpage-disc{
	margin:1% 0 0 -8%;
	font-size: 27px;
}
.fpage-button {
  	background-color: #e6800b;
  	margin:2% 0 0 9%;
  	border-radius: 100px;
  	border: none; 
  	color: white;
  	padding: 20px 55px;
  	font-size: 18px;
}
.fpage-button:hover{
	background-color: #d6770b;
	transition-duration: 0.1s;
}



#clipCard{
	background-color: #787878;
  	background-size: cover;
	padding: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	clip-path: circle(400px at center 100px);
	transition: 0.4s;
	transition-delay: 0.2s;
}
.container .box:hover .imgBx{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .box .content{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2{
	margin: 0;
	padding: 0;
}
.container .box .content a{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .content a{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}
#clipCard .container .box .content a{
	margin: 10px;
	padding: 7px 20px;
}






.row{
	display: flex;
	flex-direction: row;
	height: 40vh;
}
.column{
	flex: 50%;
	background-color: #ff9f31;
}
.column:hover{
	transition-duration: 0.4s;
	background-color: #f79321;
}
.beforeHover{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	font-size: 20px;
	margin-top: 13%;

	transition-delay: 0.3s;
	transition-duration: 0.2s;
}
.afterHover{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	text-align: center;
	font-size: 20px;
	margin-top: -25%;

	transition-delay: 0.1s;
	transition-duration: 0.2s;
}
.onHover:hover .afterHover{
	opacity: 1;
	transform: translateY(70px);
	transition-delay: 0.3s;
	transition-duration: 0.2s;
}
.onHover:hover .beforeHover{
	opacity: 0;
	transform: translateY(100px);
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}

#newsLetter{
	border-right: 2px solid black;
}
#newsletterIcon{
	width: 100px;
	margin-left: 10px;
}
.formFields{
	margin: 5px;
	padding: 5px 50px;
	border-radius: 100px;
}
.buttonInput{
	border: none; 
	padding: 13px 150px;

}