* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#firstPage {
  background: linear-gradient(to left, #ff874f, #ffbd80);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(60, 60, 60, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar h1 {
  padding-left: 15%;
}

#navbar ul {
  padding-right: 15%;
  float: right;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  padding: 5px;
  font-size: 22px;
  color: white;
  opacity: 0.7;
  transition: all 0.2s;
  text-decoration: none;
}
#navbar ul li a:hover {
  border: 1px solid white;
  opacity: 1;
}

.homePage {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

#cardBox {
  background: linear-gradient(to right, #ffd2bd, #ffbd80);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 2px solid white;
}
.logo {
  width: 300px;
  height: 100px;
  margin: 10px;
}
#pageDiscription {
  font-size: 25px;
  margin: 10px;
}

#pageButton {
  background-color: #f78300;
  border-radius: 100px;
  border: none;
  color: white;
  padding: 20px 55px;
  opacity: 0.8;
  font-size: 18px;
  margin-top: 10px;
  transition: all 0.25s;
}
#pageButton:hover {
  opacity: 1;
  transform: scale(1.02);
}

#thinkingMan {
  width: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#fpageLogo,
#fpageDisc,
#fpageButton,
#thinkingMan,
.navItem,
#fpage {
  opacity: 0;
}
#fpageLogo,
#fpageDisc {
  position: relative;
  top: -30px;
}

#discription {
  height: 50%;
  position: relative;
  top: 57%;
}
#disLogo {
  font-family: "brushed";
  font-size: 50px;
  color: #ffffff;
  opacity: 0;
  margin-left: 20px;
}
#paperPlane {
  width: 100px;
  position: absolute;
  top: 50%;
  left: -10%;
}
#disInfo {
  float: right;
  position: relative;
  font-size: 35px;
  top: 40%;
  left: 22%;
  opacity: 0;
}

.easeLeft {
  opacity: 0;
  position: relative;
  left: -3%;
}
.easeRight {
  opacity: 0;
  position: relative;
  left: 3%;
}

#clipCard {
  background-color: #969696;
  background-size: cover;
  padding: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .box {
  position: relative;
  width: 280px;
  height: 400px;
  margin-top: -3%;
  box-sizing: border-box;
  overflow: hidden;
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  clip-path: circle(400px at center 100px);
  transition: 0.4s;
  transition-delay: 0.2s;
}
.container .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.container .box .content h2 {
  margin: 0;
  padding: 0;
}
.container .box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.container .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.container .box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
}
.container .box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
#clipCard .container .box .content a {
  margin: 10px;
  padding: 7px 20px;
}

#footer {
  width: 100%;
  background-color: #3c3c3c;
  font-size: 20px;
  color: white;
}
.footerList {
  margin: 5% 5%;
  display: inline-block;
  list-style: none;
}
.socialList {
  margin-top: 2%;
  float: right;
}
.footerItemHead {
  font-size: 22px;
  color: #ff7d26;
}

.footerItem {
  margin: 7px;
  text-decoration: none;
  color: white;
  line-height: 21px;
}
.footerItem:hover {
  border-bottom: 2px solid #ff7d26;
  font-size: 21px;
  transition-duration: 0.2s;
}

.socialIcon:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

#signature {
  background-color: #202020;
  padding: 1%;
}
.signIcon {
  width: 40px;
}
.signIcon:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
#signList li {
  display: inline-block;
}
.signatureItem {
  float: right;
  margin-top: -5px;
  margin-right: 2%;
}
#myName {
  position: relative;
  left: 115%;
  color: #666666;
  font-size: 30px;
}
